@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-lg-10 mx-auto 0">
        <h2 class="text-primary">Contact</h2>
        <p>
            I am a .NET developer with solid experience in web application development. I use modern technologies such as ASP.NET Core MVC, .NET 6 and .NET 8, PostgreSQL, SQL Server, and Visual Studio. My skills also include utilizing LINQ queries to create efficient and advanced solutions.
            <br />
            If your business needs custom solutions, application optimization, or a solid infrastructure with .NET, I’d be happy to collaborate on your project and take your idea to the next level. <br />
            <br />
            Ways to contact me:
            <br />
            <br />
            Email : <a href="mailto:aguilarartaviamichael@gmail.com">Send Email</a>

            <br />
            LinkedIn : <a href="https://www.linkedin.com/in/michael-aguilar-776170149/">Linked</a>
            <br />
            GitHub : <a href="https://github.com/michaelaguilar89">GitHub</a>
            <br />
            
        </p>
    </div>
</div>