
@{
    ViewData["Title"] = "NotFound";
}

<div class="text-center">
    <h1 class="text-danger">Page Not Found</h1>
    <p>The page you're looking for doesn't exist.</p>

    <button onclick="goBack()" class="btn btn-primary">Go Back</button>

   

</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>